@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    padding: 30px 260px 24px 240px;
}

.item img {
    max-width: 218px;
    max-height: 410px;
}

#headTitle {
    display: flex;
    margin-bottom: 20px;
}

#headTitle h3 {
    font-size: 36px;
    font-family: "PT Serif";
    font-weight: 700;
    letter-spacing: -4.5%;
    line-height: 48px;
    margin-right: 210px;
}

#headTitle #content h5 {
    font-family: "Poppins";
    font-weight: 600;
    line-height: 27px;
    margin: 30px 0 5px 0;
}

#headTitle p {
    font-family: "Poppins";
    font-weight: 400;
    margin: 0;
    line-height: 27px;
    font-size: 15px;
}

.photosTeam.container {
    display: grid;
    height: 100vh;
    /* gap: 55px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.photosTeam .person1 {
    grid-row: 1;
}

.photosTeam .person2 {
    padding-top: 150px;
    grid-row: 1;
}

.photosTeam .person3 {
    grid-row: 1;
    grid-column-start: 3;
}

.photosTeam .person4 {
    grid-row: 2;
}

.photosTeam .person5 {
    padding-top: 150px;
    grid-row: 2;
}

.photosTeam .fter {
    grid-column-start: 1;
    grid-column-end: 4;
}

.photosTeam .person6 {
    grid-row: 2;
}

.photosTeam h5 {
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 0 10px;
    writing-mode: vertical-rl;
    position: relative;
    left: 210px;
}

.photosTeam .person1 h5 {
    top: 100px;
}

.photosTeam .person2 h5 {
    top: 64px;
}

.photosTeam .person3 h5 {
    top: 53px;
}

.photosTeam .person4 h5 {
    top: 66px;
}

.photosTeam .person5 h5 {
    top: 54px;
}

.photosTeam .person6 h5 {
    top: 54px;
}

.photosTeam h4 {
    margin: 10px 0 0 0;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 27px;
}

.photosTeam p {
    margin: 0 auto;
    color: #A9A9A9;
    font-weight: 500;
    font-size: 1vw;
    font-family: "Montserrat";
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    body {
        padding: 30px 80px 24px 12px;
    }
    #headTitle {
        display: block;
        margin: 0;
        margin-bottom: 30px;
    }
    #headTitle h3 {
        margin: 0;
        font-size: 8vw;
    }
    #headTitle #content h5 {
        margin: 15px 0 0 0;
    }
    #headTitle #content p {
        font-size: 3vw;
    }
    .item img {
        max-width: 138px;
        max-height: 261px;
    }
    .photosTeam h5 {
        font-size: 8px;
        top: 0;
        left: 0;
    }
    .photosTeam .person1 h5 {
        top: 50px;
    }
    .photosTeam.container {
        display: grid;
        gap: 21px;
        grid-template-columns: repeat(2, 1fr);
    }
    .photosTeam .person1 {
        grid-column-start: 1;
        grid-row: 1;
        align-self: flex-start;
    }
    .photosTeam .person2 {
        padding-top: 50px;
        grid-row: 1;
        grid-column-start: 2;
        align-self: flex-start;
    }
    .photosTeam .person3 {
        grid-column: 1;
        grid-row: 2;
    }
    .photosTeam .person4 {
        padding-top: 80px;
        grid-row: 2;
    }
    .photosTeam .person5 {
        grid-column-start: 1;
        grid-row: 3;
        padding: 0;
    }
    .photosTeam .person6 {
        padding-top: 80px;
        grid-row: 3;
    }
    .photosTeam .fter {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .photosTeam p {
        font-size: 4vw;
    }
}


/* 
@media screen and (min-width: 480px) and (max-width: 768px) {
    body {
        background-color: violet;
    }
} */